Package: com.rango.trueshuffle
Name: TrueShuffle
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: True random shuffling in the Spotify App!
Maintainer: Rango
Author: Yung Specht
Section: Tweaks
Depiction: https://yungspecht.github.io/depictions/?p=com.rango.trueshuffle
Version: 1.0.1-1+debug
Installed-Size: 152
